body {
    background: #2c3e50;
    color: #ecf0f1;
}

.navbar-bg-theme {
    background: linear-gradient(to bottom, #141719, #2c3e50);
}

.subbar {
    padding: 20px;
}

.jumbotron-header {
    background: url('/assets/img/header-bg.jpg') 50% 50%;
    background-size: cover;
    text-transform: uppercase;
}

.jumbotron-game-block {
    padding: 25px;
    background: #34495e;
}

.header-profile-btn {
    border-top-right-radius: 0px;border-bottom-right-radius: 0px;
}

.header-balance-btn {
    border-radius: 0px;
}

.header-logout-btn {
    border-top-left-radius: 0px;border-bottom-left-radius: 0px;
}

.header-profile-img {
    width: 20px;
    float:left;
    margin-right:5px;
    border-radius: 15px;
}

.theme-input {
    background: #46607a;
    color: #ecf0f1;
}

.theme-alert-danger {
    background: #c0392b;
    border-color: #9e3a31;
    color: #ecf0f1;
}

a {
    color: #28a745;
}

a:hover {
    color: #266b35;
}