{% extends 'app.html' %}

{% block body %}
    <div class="row">
    	<div class="col-lg-3">
    		<div class="jumbotron jumbotron-game-block">
    			<img src="{{ user.avatar }}" width="100%">
    		</div>
    	</div>
    	<div class="col-lg-9">
    		<div class="jumbotron jumbotron-game-block lead">
    			ID на сайте: <b>{{ user._id }}</b><br>
    			ID в ВКонтакте: <b>{{ user.uid }}</b><br>
    			Имя: <b>{{ user.firstName }}</b><br>
    			Фамилия: <b>{{ user.lastName }}</b><br>
    			Дата регистрации: <b>{{ user.createdAt }}</b>
    		</div>
    	</div>
    </div>
{% endblock %}
