<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2c3e50">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/alertify.min.css" />
    <link rel="stylesheet" href="/assets/css/themes/default.min.css" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block styles %}{% endblock %}
</head>
<body>
    {% set time = dateTime() %}
    {% set online = online() %}
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg-theme">
        <div class="container">
            <a class="navbar-brand" href="/">SBP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Текущая игра</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">О нас</a>
                    </li>
                </ul>
                {% if authUser %}
                    <div class="my-2 my-lg-0">
                        <div class="dropdown show">
                            <a class="btn btn-dark header-profile-btn" href="/user/{{ authUser.uid }}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ authUser.avatar }}" class="header-profile-img">
                                {{ authUser.firstName }}
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/user/{{ authUser.uid }}">Профиль</a>
                            </div>
                        </div>
                    </div>
                    <div class="my-2 my-lg-0">
                        <a class="btn btn-secondary header-balance-btn my-2 my-sm-0" href="/balance"><span style="font-weight: bold;" id="profile-balance">$~</span></a>
                    </div>
                    <div class="my-2 my-lg-0">
                        <a class="btn btn-danger header-logout-btn my-2 my-sm-0" href="/logout">Выйти</a>
                    </div>
                {% else %}
                    <div class="my-2 my-lg-0">
                        <a class="btn btn-info my-2 my-sm-0" href="/login">Войти</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="subbar">
            Сейчас на сайте <span id="online" style="font-weight: bold;">{{ online }}</span> человек
            <span class="pull-right">Сейчас <span id="time" style="font-weight: bold;">{{ time }}</span></span>
        </div>
        <div class="jumbotron jumbotron-header">
            <h1 class="display-4">{{ title }}</h1>
        </div>
        {% block body %}{% endblock %}
        <div class="footer">
            <p class="lead text-center">
                &copy <b>SBP</b>, 2017
            </p>
        </div>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/alertify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/app.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
