{% extends 'app.html' %}

{% block body %}
    <div class="jumbotron jumbotron-game-block">
        <h4 class="display-4 text-center">О Star Battle Project</h4>
        <p class="lead">
        	Приветствуем Вас на совершенно уникальном и неповторимом проекте от молодых и перспективных разработчиков. Разработка ведется с <b>2017 года</b>, но Вы уже сейчас вы можете внести свои предложения, отправив их на почту <a href="mailto:admin@starbattle.pro"><b>admin@starbattle.pro</b></a>. Мы обязательно их рассмотрим!<br>
			Если Вы любитель <b>CS:GO</b> и <b>ставок</b>, то Вы обязаны попробовать нашу <b>систему симуляции боев</b>. Обещаем &#8212; Вы не пожалеете!<br>
			<br>
			С уважением, <b>разработчики SBP</b> :)
        </p>
    </div>
{% endblock %}