{% extends 'app.html' %}

{% block body %}
    <div class="jumbotron jumbotron-game-block" id="game-block">
        {% if game.status == 0 %}
            <h1 class="display-4 text-center">Ожидается начало игры</h1>
            <p class="lead">
                Количество ставок: <b>{{ bets.info.count }}</b><br>
                Общая сумма ставок: <b>${{ bets.info.amount }}</b><br>
                До начала игры осталось: <span id="game-left" style="font-weight: bold;">{{ left }}</span>
            </p>
        {% elseif game.status == 1 %}
            <h1 class="display-4 text-center">Идет игра</h1>
        {% else %}
            Ожидается начало следующей игры...
        {% endif %}
    </div>
    {% if authUser %}
        <div class="jumbotron jumbotron-game-block">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon theme-input">$</span>
                        <input type="number" id="bet-amount" class="form-control theme-input" placeholder="Ваша ставка" autocomplete="off">
                    </div>
                </div>
                <button id="bet" class="btn btn-success btn-block" type="button">Участвовать</button>
            </form>
        </div>
    {% else %}
        <div class="alert alert-danger theme-alert-danger">
            Для участия в игре необходимо войти в свой аккаунт.
        </div>
    {% endif %}
    <div id="bets-history">
        {% if bets.info.count > 0 %}
            {% for bet in bets.list | reverse %}
                <div class="jumbotron jumbotron-game-block">
                    <h3><a href="/user/{{ bet._author.uid }}">{{ bet._author.firstName }} {{ bet._author.lastName }}</a> <small>сделал ставку</small></h3>
                    <h4 class="lead">${{ bet.amount }}</h4>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info">
                Пока на эту игру никто не ставил, Вы можете быть первыми.
            </div>
        {% endif %}
    </div>
{% endblock %}
